
    <div class="container">
        <form class="w-50 mx-auto my-3" action="/uploads" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <input class="form-control" type="file" name="upload" required>
            </div>
            <button class="btn btn-primary">Upload</button>
        </form>

        <div class="container">
            <div class="row">
                <div class="col my-3">
                    <div class="card" style="width: 18rem;">
                      <img src="/images/fetch image.png" class="card-img-top" alt="Image">
                    </div>
                </div>
                <div class="col my-3">
                    <div class="card" style="width: 18rem;">
                      <img src="/images/fetch images.png" class="card-img-top" alt="Image">
                    </div>
                </div>
                <div class="col my-3">
                    <div class="card" style="width: 18rem;">
                      <img src="/images/Node.js read images from server using express web framework.png" class="card-img-top" alt="Image">
                    </div>
                </div>
            </div>

        </div>
    </div>
